.quiz-page {
    text-align: center;
    margin-top: 100px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
}

.difficulty-buttons button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.difficulty-buttons button:hover {
    background-color: var(--primary-color-dark);
}
